<footer class="site-footer">
  <center><img src="/assets/logo.png" style="width:15%"></center>
   <button class="button-3" role="button" onclick="window.location.href='https://sinerova.com';">Dylan's Site</button>
  <p>© 2022 Jenna Konowitz</p>
</footer>