<footer class="site-footer">
  <center><img src="/assets/whitelogo.png" style="width:15%"></center>
   <button class="button-3" role="button" onclick="window.location.href='https://short.sinerova.com';">Jenna's Site</button>
  <p>© 2022 Dylan Gillespie</p>
</footer>