 <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img src="/assets/logo.png" width="100rem">
      </div>
      <nav>
        
        <!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Add font awesome icons -->
<a href="https://instagram.com/dylanagillespie" class="fa fa-instagram" style="color:magenta"></a>
<a href="https://snapchat.com/add/dylan_gillesp" class="fa fa-snapchat-ghost" style="color:yellow"></a>
<a href="https://www.youtube.com/channel/UC71dDf2a5OhOxpjlYiMMc6Q" class="fa fa-youtube" style="color:red"></a>
<a href="https://github.com/sinerova" class="fa fa-github" style="color:black"></a>
<link rel="stylesheet" href="/style.css">
{# <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Where to Find Me</a> #}
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>