 <header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img src="/assets/logo.png" width="150rem">
</svg>
      </div>
      <nav>
        
        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/blog/">Where to Find Me</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>