---
title: Home
layout: 'base.njk'
---
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">About Me</h1>
        <p>Jenna Konowitz <button class="button-3" role="button" onclick="window.location.href='https://sinerova.com';">Jenna's Site</button></p></p>
        <p>Born in Mays Landing, NJ</p>
        <p>Lives & attends school in Apex, NC</p>
        <p>Looking to attend college and pursue a career in nursing<p>
        <div class="flex-group">
          
          
        </div>
      </div>
      <div>
        <img src="/assets/me/hero.jpg" alt="Me" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">My Animals</h2>
    <p class="text-center">Dogs Are Better Obviously</p>
    <ul role="list" class="articles__list flow"><li>
         <article class="snippet">
  <img src="/assets/animals/koda.jpeg" alt="The Good One" class="snippet__image">
  <h3 class="snippet__title"><a>The Good Boy</a></h3>
  <p class="snippet__body"><span>The favorite</p>
</article>
        </li><li>
         <article class="snippet">
  <img src="/assets/animals/alldogs.jpeg" alt="All Of the Woofs" class="snippet__image">
  <h3 class="snippet__title"><a>All Of the Woofs</a></h3>
  <p class="snippet__body">No place to sleep</p> 
</article>
        </li><li>
         <article class="snippet">
  <img src="/assets/animals/kitten.jpeg" alt="Kitten" class="snippet__image">
  <h3 class="snippet__title"><a>Unfortunately for my BF, I like cats</a></h3>
  <p class="snippet__body">Says meow for some reason</p> 
</article>
        </li><li>
         <article class="snippet">
  <img src="/assets/animals/cat.jpeg" alt="Big Cat" class="snippet__image">
  <h3 class="snippet__title"><a>Big Cat</a></h3>
  <p class="snippet__body">Like the other one, but bigger</p> 
</article>
        </li></ul>
  </div>
</section> 