---
title: Home
layout: 'base.njk'
---
      
<section class="hero">
  <div class="container flow">
      <div class="hero__content flow">
        <h1 class="section-title">About Me</h1>
        <p>Born in Walnut Creek, CA</p>
        <p>Lives & attends school in Williambsurg, VA</p>
        <p>Looking to attend college and pursue a career in Information Technology<p>
        <div class="flex-group">
          
          
        </div>
      </div>
      <div>
        <img src="/assets/me/IMG_9358.PNG" alt="Me" class="hero__image">
      </div>
  </div>
</section>

<section id="featured-articles" class="featured-articles">
  <div class="container flow">
    <h2 class="section-title text-center ">Dog Pictures</h2>
    <p class="text-center">Just the Dog</p>
    <ul role="list" class="articles__list flow"><li>
         <article class="snippet">
  <img src="/assets/dog/ANRM0983.jpg" alt="Dog Sleeping" class="snippet__image">
  <h3 class="snippet__title"><a href="/blog/my-first-article/">Night Night</a></h3>
  <p class="snippet__meta"><span>April 30, 2021</span></p>
  <p class="snippet__body"><span>Zzzz</p>
</article>
        </li><li>
         <article class="snippet">
  <img src="/assets/dog/AZGO4856.jpg" alt="This is a test" class="snippet__image">
  <h3 class="snippet__title"><a href="/blog/my-second-article/">Hungry</a></h3>
  <p class="snippet__meta"><span>May 14, 2021</span></p>
  <p class="snippet__body">Ready for dinner</p> 
</article>
        </li><li>
         <article class="snippet">
  <img src="/assets/dog/BENZ8249.jpg" alt="This is a test" class="snippet__image">
  <h3 class="snippet__title"><a href="/blog/my-third-article/">Where's my Mom?</a></h3>
  <p class="snippet__meta"><span>July 19, 2021</span></p>
  <p class="snippet__body">I think I see her!</p> 
</article>
        </li><li>
         <article class="snippet">
  <img src="/assets/dog/IMG_E8505.JPG" alt="This is a test" class="snippet__image">
  <h3 class="snippet__title"><a href="/blog/my-fifth-article/">Model</a></h3>
  <p class="snippet__meta"><span>December 12, 2021</span></p>
  <p class="snippet__body">Looking great</p> 
</article>
        </li></ul>
  </div>
</section> 